@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box;
}

.Navbar {
  width: 100%;
  height: 60px;
  padding: 0 16px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}

/* Left Nav */
.left-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.left-nav img {
  margin-right: 15px;
}

/* Center Nav */
.center-nav {
  display: flex;
  align-items: center;
}
.center-nav input {
  width: 33rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px 10px;
}
.center-nav button {
  border: none;
  background: #f0f0f0;
  margin: 0 10px;
  cursor: pointer;
}
.microphone {
  border: 1px solid;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

/* Right Nav */
.right-nav {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-nav span img {
  width: 20px;
  margin-right: 5px;
}
.right-nav span {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  padding: 2px 6px;
  background: #b0afaf;
}

/* Navlist */
.Navlist {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 60px;
  background: #fff;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  z-index: 100;
  border-bottom: 1px solid #ddd;
}
.Navlist li {
  width: 5rem;
  background: #b0afaf;
  border-radius: 8px;
  text-align: center;
  padding: 6px;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  width: 240px;
  height: 200vh;
  margin-top: 120px;
  border-right: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
}
.sidebar span {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #171515;
}
.sidebar span:hover {
  border-radius: 20px;
  border: 2px solid;
  background-color: #b0afaf;
  cursor: pointer;
}
.sidebar .side-items span img {
  margin-right: 20px;
}
.divider {
  height: 1px;
  background: #ddd;
  margin: 8px 0;
}

/* Videos */
.videos {
  background-color: #f9f9f9;
  width: calc(100% - 240px);
  margin-left: 240px;
  padding: 15px 25px;
  border-top: 1px solid #ddd;
}

.videos__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.video {
  width: 310px;
  margin: 10px;
}

.video__thumbnail img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.video__details {
  display: flex;
  margin-top: 10px;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.title h3 {
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
}
.title a,
.title span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 14px;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #030303;
}
